/*! jQuery UI - v1.10.3 - 2013-06-28
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.tooltip.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */
.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-clearfix {
    min-height: 0
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa
}

body .ui-tooltip {
    border-width: 2px
}

#bc_viewer {
    height: 100%;
    position: relative;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#bc_viewer * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#bc_viewer canvas {
    width: 100%
}

.bcv_header {
    margin-bottom: 10px
}

.bcv_record_details_container {
    float: right
}

.bcv_clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both
}

.bcv_control_button {
    text-align: center;
    cursor: pointer
}

.bcv_horizontal_controls .bcv_controls_group {
    display: inline-block
}

.bcv_canvas_wrapper {
    position: relative
}

.bcv_ecg_viewer {
    position: absolute;
    width: 100%
}

.bcv_ecg_viewer .bcv_canvas_wrapper {
    overflow: auto;
    height: 100%
}

.bcv_context_viewer .bcv_canvas_wrapper {
    margin: 6px 6px 0 75px
}

.bcv_context_canvas {
    display: block
}

.bcv_main_canvas {
    display: block
}

.bcv_context_viewer .bcv_select_channel {
    padding: 0
}

.bcv_context_highlight, .bcv_context_highlight_on_hover {
    position: absolute;
    height: 30px;
    display: block;
    top: -2px
}

.bcv_context_highlight_on_hover {
    display: none
}

.bcv_timeline_header {
    height: 20px;
    padding-left: 4px
}

.bcv_hr_header {
    height: 80px;
    padding-left: 5px
}

.bcv_hr_header div {
    padding-top: 20%
}

.bcv_events_header {
    height: 24px;
    padding-left: 2px
}

.bcv_events_header select {
    width: 80px;
    margin-left: 2px
}

.bcv_events_viewer_header * {
    vertical-align: middle;
    margin: 0
}

.bcv_events_viewer_header .bcv_event_prev {
    margin-left: 5px
}

.bcv_events_viewer_headers {
    float: left;
    width: 190px
}

.bcv_event_viewer_canvases {
    position: relative;
    margin-left: 190px;
    overflow: hidden
}

.bcv_event_viewer_canvases canvas {
    display: block
}

.bcv_events_viewer_header {
    float: none
}

.bcv_hr_header div {
    margin-top: 0;
    padding-top: 20%
}

.bcv_events_container .bcv_time_indicator {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    z-index: 1;
    -webkit-box-sizing: border-box
}

.bcv_context_viewer {
    height: 42px;
    position: absolute;
    width: 100%;
    bottom: 0
}

.bcv_select_channel {
    float: left
}

.bcv_current_time {
    display: none;
    float: right
}

.bcv_controls_group {
    display: inline-block;
    margin-right: 35px
}

.bcv_ecg_control_panel {
    height: 30px;
    padding: 5px;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.bcv_current_view_info {
    display: none;
    height: 24px;
    padding: 5px;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.bcv_filters_group {
    float: right;
    margin-top: -1px
}

.bcv_filters_group button {
    margin-left: 7px;
    width: 32px;
    height: 21px
}

.bcv_events_header button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 0;
    margin-top: 3px
}

.bcv_context_viewer select {
    float: left;
    margin: 11px 0 0 4px;
    min-width: 66px
}

.bcv_events_viewer_header select {
    float: left;
    min-width: 135px;
    margin-top: 3px
}

.bcv_updating_notification {
    display: none;
    text-indent: 20px;
    display: inline-block;
    float: right;
    margin-top: 5px;
    height: 16px
}

.bcv_loading_notification {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -67px
}

.bcv_measurement_result {
    float: right;
    padding: 5px;
    display: none
}

.bcv_recording_panel {
    display: none
}

.bcv_realtime .bcv_recording_panel {
    display: inline-block
}

.bcv_realtime .bcv_zoom_x_controls, .bcv_realtime .bcv_zoom_y_controls, .bcv_realtime .bcv_measure_button {
    display: none
}

.bcv_ecg_control_panel select {
    min-width: 66px;
    display: none
}

#bc_viewer {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal
}

.bcv_record_title {
    font-size: 18px;
    font-weight: bold;
    color: black
}

.bcv_record_details_container {
    font-size: 13px;
    color: black
}

.bcv_ecg_control_panel {
    background-color: #ebebeb;
    border: 1px solid #bebebe;
    border-bottom: 0
}

.bcv_ecg_viewer .bcv_canvas_wrapper {
    border: 1px solid #bebebe
}

.bcv_ecg_viewer .bcv_canvas_wrapper:hover {
    cursor: pointer
}

.bcv_controls_group {
    font-family: Arial, sans-serif;
    font-size: 0
}

.bcv_controls_group * {
    font-size: 11px
}

.bcv_controls_title {
    font-size: 12px;
    font-weight: bold
}

.bcv_control_button {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    color: #00f
}

.bcv_control_button[disabled] {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: auto
}

.bcv_context_viewer {
    background-color: #e0e0e0;
    border: 1px solid #b7b7b7
}

.bcv_context_viewer .bcv_canvas_wrapper {
    background-color: #fff;
    border: 1px solid #797676;
    cursor: pointer
}

.bcv_context_viewer .bcv_canvas_wrapper_disabled {
    cursor: auto
}

.bcv_context_highlight {
    box-shadow: #8b8b8b 2px 2px 13px -2px;
    border: 1px solid #000
}

.bcv_context_highlight_on_hover {
    border: 1px solid #4b4a4a;
    background: white;
    -ms-filter: "alpha(opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: .60;
    -khtml-opacity: .60;
    opacity: .60
}

;
.bcv_events_viewer_header {
    font-size: 11px;
    border-bottom: 1px solid #bbb;
    background: #f9f9f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
    background: -o-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
    background: linear-gradient(to bottom, #f9f9f9 0, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f2f2f2', GradientType=0)
}

.bcv_hr_header {
    border-bottom: 1px solid #bbb
}

.bcv_events_container {
    border: 1px solid #bbb;
    background-color: #fff;
    border-bottom: 0
}

.bcv_events_container .bcv_events_canvas {
    border-bottom: 1px solid #bbb
}

.bcv_event_viewer_canvases canvas {
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb
}

.bcv_event_viewer_canvases {
    cursor: pointer
}

.bcv_event_viewer_canvases_disabled {
    cursor: auto
}

.bcv_timeline_header {
    border-bottom: 1px solid #bbb
}

.bcv_events_header {
    border-bottom: 1px solid #bbb
}

.bcv_events_container .bcv_time_indicator {
    border: 1px solid cyan
}

.bcv_sprite {
    background-image: url(/assets/bcViewer/viewer_sprite-33048d5e7e3aeb3031c78c78bcce9f28.png);
    background-color: transparent;
    background-repeat: no-repeat
}

.bcv_baseline_correction_button[selected] {
    background-position: -42px -84px
}

.bcv_baseline_correction_button:hover {
    background-position: -42px -63px
}

.bcv_baseline_correction_button[selected]:hover {
    background-position: -42px -105px
}

.bcv_baseline_correction_button {
    background-position: -53px -42px
}

.bcv_smooth_button[selected] {
    background-position: -64px 0
}

.bcv_smooth_button:hover {
    background-position: -74px -108px
}

.bcv_smooth_button[selected]:hover {
    background-position: -53px -21px
}

.bcv_smooth_button {
    background-position: -74px -87px
}

.bcv_filters_group button {
    border: 0;
    margin-left: 7px;
    cursor: pointer
}

.bcv_record_details_value {
    font-weight: bold
}

#bc_viewer select {
    background: #dbd8d8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px
}

.bcv_events_header button {
    border: 0
}

.bcv_event_button[disabled], .bcv_filters_group button[disabled] {
    -ms-filter: "alpha(opacity=12)";
    filter: alpha(opacity=12);
    -moz-opacity: .12;
    -khtml-opacity: .12;
    opacity: .12;
    cursor: auto
}

.bcv_event_prev {
    background-position: -106px -48px
}

.bcv_event_prev:hover {
    background-position: -103px -32px
}

.bcv_event_prev:active {
    background-position: -101px -16px
}

.bcv_event_next {
    background-position: -96px 0
}

.bcv_event_next:hover {
    background-position: -95px -71px
}

.bcv_event_next:active {
    background-position: -85px -21px
}

.bcv_updating_notification {
    background-image: url(/assets/bcViewer/updating-85c0d7296760ce61f5824916cae31877.gif);
    background-repeat: no-repeat
}

.bcv_loading_notification {
    background-image: url(/assets/bcViewer/loading-aaa5ee5b47292c7cb99cf75b1377870a.gif);
    background-repeat: no-repeat;
    width: 134px;
    height: 21px
}

.ui-tooltip {
    background: #ffffca;
    color: #000023;
    border: 1px solid #cc9;
    padding: 3px;
    font-size: 13px
}

.bcv_timeline_canvas.bcv_disabled_canvas, .bcv_hr_canvas.bcv_disabled_canvas, .bcv_events_canvas.bcv_disabled_canvas, .bcv_context_canvas.bcv_disabled_canvas {
    background: #d8dcdf
}

.bcv_disabled_header {
    color: #d8dcdf
}

button.bcv_measure_button {
    background-position: -32px 0
}

button.bcv_measure_button[selected] {
    background-position: -21px -21px
}

button.bcv_measure_button:hover {
    background-position: 0 0
}

button.bcv_measure_button[selected]:hover {
    background-position: -21px -42px
}

.measurement_canvas {
    cursor: crosshair
}